In [ ]:
import pandas as pd
import json

In [5]:
df = pd.read_json('sheger.json')
df.head()

,name,type,id,messages
0,Sheger Press️️,public_channel,1770199174,"{'id': 1, 'type': 'service', 'date': '2021-12-..."
1,Sheger Press️️,public_channel,1770199174,"{'id': 3, 'type': 'message', 'date': '2021-12-..."
2,Sheger Press️️,public_channel,1770199174,"{'id': 14, 'type': 'message', 'date': '2022-05..."
3,Sheger Press️️,public_channel,1770199174,"{'id': 15, 'type': 'message', 'date': '2022-05..."
4,Sheger Press️️,public_channel,1770199174,"{'id': 16, 'type': 'message', 'date': '2022-05..."

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3964 entries, 0 to 3963
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      3964 non-null   object
 1   type      3964 non-null   object
 2   id        3964 non-null   int64
 3   messages  3964 non-null   object
dtypes: int64(1), object(3)
memory usage: 154.8+ KB

In [7]:
df.messages.iloc[0]

{'id': 1,
 'type': 'service',
 'date': '2021-12-30T21:49:21',
 'date_unixtime': '1640890161',
 'actor': 'Sheger Press️️',
 'actor_id': 'channel1770199174',
 'action': 'create_channel',
 'title': 'Fasil yenealem Esat International',
 'text': '',
 'text_entities': []}

In [8]:
df.columns

Index(['name', 'type', 'id', 'messages'], dtype='object')

In [9]:
message_df = pd.json_normalize(df.messages)

In [11]:
message_df.head()

,id,type,date,date_unixtime,actor,actor_id,action,title,text,text_entities,...,photo,width,height,file,thumbnail,media_type,mime_type,duration_seconds,reply_to_message_id,forwarded_from
0,1,service,2021-12-30T21:49:21,1640890161,Sheger Press️️,channel1770199174,create_channel,Fasil yenealem Esat International,,[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3,message,2021-12-30T22:02:03,1640890923,NaN,NaN,NaN,NaN,አንድ ላይ ተጋግዘን ትልቅ መወያያ መድረክ እንፍጠር ስለምታደርጉልኝ ድጋፍ...,"[{'type': 'plain', 'text': 'አንድ ላይ ተጋግዘን ትልቅ መ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,14,message,2022-05-03T14:31:44,1651577504,NaN,NaN,NaN,NaN,[መረጃ❗️❗️❗️\n\nየህወሃት ጦር ከመቀሌ ወደ አፋር አብዓላ የሚወስደው...,"[{'type': 'plain', 'text': 'መረጃ❗️❗️❗️ የህወሃት ጦ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,15,message,2022-05-03T15:25:59,1651580759,NaN,NaN,NaN,NaN,[አዲስ መረጃ የጠ/ሩ የምሳ ግብዣ እንዴት አለፈ⁉️\n\nብፁዑ ወቅዱስ አ...,"[{'type': 'plain', 'text': 'አዲስ መረጃ የጠ/ሩ የምሳ ግ...",...,(File not included. Change data exporting sett...,715.0,376.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,16,message,2022-05-03T15:44:43,1651581883,NaN,NaN,NaN,NaN,[ልዩ መረጃ‼️\n\n# የኦሮሚያ ልዩ ኃይል እና ሸኔ በምዕራብ ሸዋ በአማ...,"[{'type': 'plain', 'text': 'ልዩ መረጃ‼️ # የኦሮሚያ ...",...,(File not included. Change data exporting sett...,615.0,345.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# Define the extraction function
def extract_text_from_data(data):
    extracted_text = []
    for item in data:
        if isinstance(item, dict) and 'text' in item:
            extracted_text.append(item['text'])
        elif isinstance(item, str):
            extracted_text.append(item)
    return ''.join(extracted_text)

# Apply the extraction function to the 'data_column' and create a new column 'extracted_text'
message_df['extracted_text'] = message_df['text'].apply(extract_text_from_data)

In [15]:
message_df = message_df[['id','type','date','extracted_text']]
message_df.head()

,id,type,date,extracted_text
0,1,service,2021-12-30T21:49:21,
1,3,message,2021-12-30T22:02:03,አንድ ላይ ተጋግዘን ትልቅ መወያያ መድረክ እንፍጠር ስለምታደርጉልኝ ድጋፍ...
2,14,message,2022-05-03T14:31:44,መረጃ❗️❗️❗️\n\nየህወሃት ጦር ከመቀሌ ወደ አፋር አብዓላ የሚወስደውን...
3,15,message,2022-05-03T15:25:59,አዲስ መረጃ የጠ/ሩ የምሳ ግብዣ እንዴት አለፈ⁉️\n\nብፁዑ ወቅዱስ አቡ...
4,16,message,2022-05-03T15:44:43,ልዩ መረጃ‼️\n\n# የኦሮሚያ ልዩ ኃይል እና ሸኔ በምዕራብ ሸዋ በአማሮ...

In [16]:
# Define the extraction function
def extract_text_from_data(data):
    extracted_text = []
    for item in data:
        if isinstance(item, dict) and 'text' in item:
            extracted_text.append(item['text'])
        elif isinstance(item, str):
            extracted_text.append(item)

    # Combine the extracted text into a single string
    full_text = ''.join(extracted_text)

    # Remove specified substrings
    substrings_to_remove = ['\n\n', '@sheger_press\n@sheger_press', '❗️❗️❗️']
    for substring in substrings_to_remove:
        full_text = full_text.replace(substring, '')

    # Remove emojis
    full_text = ''.join(char for char in full_text if char.isalnum() or char.isspace())

    return full_text.strip()

# Apply the extraction function to the 'data_column' and create a new column 'cleaned_text'
message_df['cleaned_text'] = message_df['extracted_text'].apply(extract_text_from_data)

In [18]:
message_df.head()

,id,type,date,extracted_text,cleaned_text
0,1,service,2021-12-30T21:49:21,,
1,3,message,2021-12-30T22:02:03,አንድ ላይ ተጋግዘን ትልቅ መወያያ መድረክ እንፍጠር ስለምታደርጉልኝ ድጋፍ...,አንድ ላይ ተጋግዘን ትልቅ መወያያ መድረክ እንፍጠር ስለምታደርጉልኝ ድጋፍ...
2,14,message,2022-05-03T14:31:44,መረጃ❗️❗️❗️\n\nየህወሃት ጦር ከመቀሌ ወደ አፋር አብዓላ የሚወስደውን...,መረጃየህወሃት ጦር ከመቀሌ ወደ አፋር አብዓላ የሚወስደውን መንገድ መዝጋቱ...
3,15,message,2022-05-03T15:25:59,አዲስ መረጃ የጠ/ሩ የምሳ ግብዣ እንዴት አለፈ⁉️\n\nብፁዑ ወቅዱስ አቡ...,አዲስ መረጃ የጠሩ የምሳ ግብዣ እንዴት አለፈብፁዑ ወቅዱስ አቡነ ማትያስ ...
4,16,message,2022-05-03T15:44:43,ልዩ መረጃ‼️\n\n# የኦሮሚያ ልዩ ኃይል እና ሸኔ በምዕራብ ሸዋ በአማሮ...,ልዩ መረጃ የኦሮሚያ ልዩ ኃይል እና ሸኔ በምዕራብ ሸዋ በአማሮች ላይ ጥቃ...

In [19]:
df = df[['name','type','id']]
df.rename(columns={'name':'channel_name',
                  'type':'channel_type',
                  'id':'channel_id'}, inplace=True)

In [21]:
df.head()

     channel_name    channel_type  channel_id
0  Sheger Press️️  public_channel  1770199174
1  Sheger Press️️  public_channel  1770199174
2  Sheger Press️️  public_channel  1770199174
3  Sheger Press️️  public_channel  1770199174
4  Sheger Press️️  public_channel  1770199174

In [22]:
message_df=message_df[['id','type','date','cleaned_text']]
message_df.rename(columns = {'id':'message_id',
                  'type':'message_type',
                  'date':'message_date',
                  'cleaned_text':'text'}, inplace = True)
message_df.head()

C:\Users\user\AppData\Local\Temp\ipykernel_12920\2925601374.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  message_df.rename(columns = {'id':'message_id',

,message_id,message_type,message_date,text
0,1,service,2021-12-30T21:49:21,
1,3,message,2021-12-30T22:02:03,አንድ ላይ ተጋግዘን ትልቅ መወያያ መድረክ እንፍጠር ስለምታደርጉልኝ ድጋፍ...
2,14,message,2022-05-03T14:31:44,መረጃየህወሃት ጦር ከመቀሌ ወደ አፋር አብዓላ የሚወስደውን መንገድ መዝጋቱ...
3,15,message,2022-05-03T15:25:59,አዲስ መረጃ የጠሩ የምሳ ግብዣ እንዴት አለፈብፁዑ ወቅዱስ አቡነ ማትያስ ...
4,16,message,2022-05-03T15:44:43,ልዩ መረጃ የኦሮሚያ ልዩ ኃይል እና ሸኔ በምዕራብ ሸዋ በአማሮች ላይ ጥቃ...

In [29]:
sheger_df= pd.concat([df,message_df], axis =1)

In [30]:
sheger_df.head()

,channel_name,channel_type,channel_id,message_id,message_type,message_date,text
0,Sheger Press️️,public_channel,1770199174,1,service,2021-12-30T21:49:21,
1,Sheger Press️️,public_channel,1770199174,3,message,2021-12-30T22:02:03,አንድ ላይ ተጋግዘን ትልቅ መወያያ መድረክ እንፍጠር ስለምታደርጉልኝ ድጋፍ...
2,Sheger Press️️,public_channel,1770199174,14,message,2022-05-03T14:31:44,መረጃየህወሃት ጦር ከመቀሌ ወደ አፋር አብዓላ የሚወስደውን መንገድ መዝጋቱ...
3,Sheger Press️️,public_channel,1770199174,15,message,2022-05-03T15:25:59,አዲስ መረጃ የጠሩ የምሳ ግብዣ እንዴት አለፈብፁዑ ወቅዱስ አቡነ ማትያስ ...
4,Sheger Press️️,public_channel,1770199174,16,message,2022-05-03T15:44:43,ልዩ መረጃ የኦሮሚያ ልዩ ኃይል እና ሸኔ በምዕራብ ሸዋ በአማሮች ላይ ጥቃ...

In [27]:
press_df = press_df[press_df.text != '']
press_df.head()

,channel_name,channel_type,channel_id,message_id,message_type,message_date,text
1,Sheger Press️️,public_channel,1770199174,3,message,2021-12-30T22:02:03,አንድ ላይ ተጋግዘን ትልቅ መወያያ መድረክ እንፍጠር ስለምታደርጉልኝ ድጋፍ...
2,Sheger Press️️,public_channel,1770199174,14,message,2022-05-03T14:31:44,መረጃየህወሃት ጦር ከመቀሌ ወደ አፋር አብዓላ የሚወስደውን መንገድ መዝጋቱ...
3,Sheger Press️️,public_channel,1770199174,15,message,2022-05-03T15:25:59,አዲስ መረጃ የጠሩ የምሳ ግብዣ እንዴት አለፈብፁዑ ወቅዱስ አቡነ ማትያስ ...
4,Sheger Press️️,public_channel,1770199174,16,message,2022-05-03T15:44:43,ልዩ መረጃ የኦሮሚያ ልዩ ኃይል እና ሸኔ በምዕራብ ሸዋ በአማሮች ላይ ጥቃ...
5,Sheger Press️️,public_channel,1770199174,17,message,2022-05-03T17:07:43,NEWSALERTከቀናት በፊት ደሴ ላይ ቤተከርስቲያን አፍርሰን መስጊድ እን...

In [31]:
sheger_df.to_csv('sheger_press.csv', index = None)